################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeScan/bin/Debug/net8.0
/CodeScan/obj/Debug/net8.0
/CodeScan/obj/Release/net8.0
/CodeScan1/.vs/CodeScan1
/.vs
